.h2{
    color: #2c3e50;
    margin-bottom: 20px;
}
h3{
    color: #34495e;
    margin-bottom: 15px;
}


.buttonHome{
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
    
}
.emptyCartContainer{
    text-align: center;
    margin-top: 50px;
}