.item-list-container {
  padding: 3rem;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-list-container h2 {
  font-size: 2rem;
  color: black;
}

.category-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
